doctype
html
    head
        title Todo
        link(href='style.css' rel='stylesheet')
        script(src='script.js' async)
        link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    body
    nav
        - const userVal = JSON.stringify(user);
        ul.navbar
            li
                a(href='http://localhost:4131/logout') Logout
            li
                a(href=`http://localhost:4131/deleteAcct/${userVal}`) Delete Account
    h1 #{user}'s Todo List
    div#todoWrapper
        div#container
    script.
        window.onload=async function() {
            try {
                const userVar = !{JSON.stringify(user)};
                const res = await fetch(`http://localhost:4131/getTodo/${userVar}`);
                if (!res.ok) {
                	throw new Error(`Response staus: ${res.status}`);
                }
                const html = await res.text();
                document.getElementById('container').innerHTML = html;
            } catch (error) {
                console.log("Fetch Error: "+error.message);
            }
        }